:root {
  --fc-event-bg-color: #4daac6;
  --fc-event-border-color: #4daac6;

  --fc-button-bg-color: #4daac6;
  --fc-button-border-color: #4daac6;

  --fc-toolbar-title-color: #4daac6;

  --fc-today-bg-color: #f2fdfb;
}
