@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-input {
    @apply form-input
      placeholder-gray-400
      focus:ring-0
      focus:outline-none
      focus:border-blue-planning-300
      border
      border-gray-200
      rounded-lg
      p-3;
  }
  .text-input:disabled {
    opacity: 0.5;
  }
  .text-input-invalid:not(.phx-no-feedback) {
    @apply border-red-sales-300
      bg-red-sales-100
      focus:border-red-sales-300;
  }
  .input-label {
    @apply text-sm
      font-semibold
      py-1;
  }
  .input-label-invalid:not(.phx-no-feedback) {
    @apply text-red-sales-300;
  }
  .select {
    @apply form-select
      focus:ring-0
      focus:outline-none
      focus:border-blue-planning-300
      border
      border-gray-200
      rounded-lg
      p-3;
  }
  .select-prompt > select {
    @apply text-gray-400;
  }
  .select-invalid > select:not(.phx-no-feedback) {
    @apply border-red-sales-300
      bg-red-sales-100
      focus:border-red-sales-300;
  }
  .invalid-feedback.phx-no-feedback {
    display: none;
  }
  .checkbox {
    @apply form-checkbox text-blue-planning-300 focus:ring-1 focus:ring-blue-planning-300 rounded;
  }

  .radio {
    @apply form-radio text-blue-planning-300 focus:ring-1 focus:ring-blue-planning-300;
  }

  .radio.checked {
    @apply bg-current;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  }
}
