<%= live_render @socket, TodoplaceWeb.LiveModal, id: "with_out_layout" %>
<main role="main" class={"#{dynamic_background_class(assigns)}"}>
    <%= TodoplaceWeb.LayoutView.flash(@flash) %>
    <%= @inner_content %>
</main>
  