<main role="main" class="client-app min-h-screen">
  <%= TodoplaceWeb.LayoutView.flash(@flash) %>

  <%= @inner_content %>

  <%= live_render @socket, TodoplaceWeb.LiveModal, id: "live_modal" %>

</main>
