<main role="main" class="client-app min-h-screen">
  <%= TodoplaceWeb.LayoutView.flash(@flash) %>

  <%= @inner_content %>

  <%= live_render @socket, TodoplaceWeb.LiveModal, id: "live_modal" %>

  <footer class="mt-auto text-white footer-cookie mb-24 hidden sm:block">
    <div class="center-container gallery__container px-7 sm:px-16">
      <hr class="mb-6 opacity-30 border-base-300" />
      <.footer_nav socket={@socket} gallery={@gallery} />
    </div>
  </footer>

</main>
