<div class="opacity-100 lg:bg-black bottomBar_gallery fixed py-4">
<div class="flex flex-col-reverse sm:flex-row justify-end lg:mr-12 mr-10 ml-10">
      <a href={@url} target="_blank" class="flex justify-center items-center">
        <button class="footerBtn-primary disabled:opacity-50 disabled:cursor-not-allowed" hidden={disabled?(@gallery)} disabled={@uploading?}>Preview gallery</button>
      </a>
      <button class="footerBtn-secondary disabled:opacity-50 disabled:cursor-not-allowed" hidden={disabled?(@gallery)} disabled={@uploading?} phx-click="client-link">Share gallery</button>
  </div>
</div>
